.custBtn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 13px;
  background-color: #0c8ce9;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 0.8rem 1.5rem;
  overflow: hidden;
  position: relative;
}
.custBtn:hover {
  opacity: 0.9;
}
.custBtn:active {
  transform: scale(0.97);
}
.custBtn::before {
  content: "";
  position: absolute;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #000;
  scale: 0;
  opacity: 0;
  transition: 0.2s;
  transition-property: scale, opacity;
}
.custBtn:focus-visible::before {
  scale: 1;
  opacity: 0.2;
}
